@model IEnumerable<Everyday.Models.Company>

@{
    ViewBag.Title = "SeeCompany";
}
<link href="/Content/Index.css" rel="stylesheet">
<h2 style="color:#577869">@ViewBag.co1</h2>
<h3 style="color:#7cc9ad">  @ViewBag.co2</h3>

<div style="font-family: Roboto,sans-serif; font-weight: 300; font-size: 1.3em">
                        @ViewBag.co3
</div>
             
          
        
    


