input, textarea {
    max-width: 900px;
    width:900px ;
}
select{
    margin-top: 10px;
    max-width: 400px;
    width:350px; outline:none;
}
input[type="text"]
{

    width:900px ;
}
input[type="number"]
{

    width:900px ;
}
form{
    
    margin-left: 10%;
}


input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:focus::-webkit-input-placeholder {text-indent: 1000px; transition: text-indent 0.3s ease;}
input:focus::-moz-placeholder          {text-indent: 1000px; transition: text-indent 0.3s ease;}
input:focus:-moz-placeholder           {text-indent: 1000px; transition: text-indent 0.3s ease;}
input:focus:-ms-input-placeholder      {text-indent: 1000px; transition: text-indent 0.3s ease;}




.newfot
{
    
    
    margin-left:40px ;
    
    
}